.dd_dropdown{
  background-color: rgb(89,49,150);
  color: rgb(89,49,150);
  font-size: 18px;
  border-style:inset;
  border-color:black;
  border_width:4px;
}

.dd_dropdown .VirtualizedSelectFocusedOption {
  background-color: rgb(89,49,150);
  font-size: 18px;
  color: white;
  text-align: center;
  border-style:inset;
  border-color:black;
  border_width:4px;
}

.dd_dropdown .Select-control, .Select-input>input {
    width: 100%;
    background-color: rgb(89,49,150);
    font-size: 18px;
    color: white;
    cursor: default;
}

.dd_dropdown .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
    font-size: 18px;
}

.ml-2{
    font-size: 1.5rem;
    font-weight: 1000;
    #color: rgb(235, 243, 209);
    color: white
}

#checkbox {
    white-space: nowrap;
}

#checkbox > div {
  display: flex;
  width: 100%;
}

my_box_container{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.my_box_input {
  cursor: pointer;
}

/*  border: 1px solid #c3c3c3;
font-size: 0.7rem;*/
.my_box_label {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 7vw;
  font-size: 1.3vw;
  font-weight: 500;
  border: 1px hidden #c3c3c3;
}



#button {
  background-color: rgb(89,49,150);
  color: rgb(89,49,150);
  font-size: 18px;
  border-style:inset;
  border-color:black;
  border_width:4px;
  text-align: center;
  height: 6.3vh;
}

#button .VirtualizedSelectFocusedOption {
  background-color: rgb(89,49,150);
  font-size: 18px;
  color: white;
  text-align: center;
  border-style:inset;
  border-color:black;
  border_width:4px;
}

#button .Select-control, .Select-input>input {
    width: 100%;
    background-color: rgb(89,49,150);
    font-size: 18px;
    color: white;
    cursor: default;
}

#button:hover {
background-color: #3e8e41;
}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  font-size: 1.3rem;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  background: linear-gradient(to bottom, rgb(235, 243, 209) 0%, rgb(235, 243, 209) 100%);
}

#summary_text {
  font-size: 1.2rem;
  color: rgb(140, 36, 36);
  font-family: Helvetica, Arial, sans-serif;
}

#article {
  font-size: 1.4rem;
  color: rgb(62, 65, 55);
  font-family: Helvetica, Arial, sans-serif;
}

#display-selected-values p {
  color: rgb(89,49,150);
}


#nav_row {
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.87);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.87);
    top: 0; /* Position the navbar at the top of the page */
    overflow: hidden;
    width: 100%; /* Full width */
    position: relative;
}

#footer {
    bottom: 0; /* Position the navbar at the bottom of the page */
    overflow: hidden;
    width: 100%; /* Full width */
    position: relative;
    background-color: rgb(89,49,150);
    color:white;
}

#footer p{
color: white;

}

#github {
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

#wc {
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

#linkedin {
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

#faq {
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
